@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

$blue-sapphire: #2e5266;
$light-gray: #6e8898;
$cadet-grey: #9fb1bc;
$timberwolf: #d3d0cb;
$amber: #ff7f11;
$off-white: #f3f3f3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: fit-content;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: "Poppins", sans-serif;
}

#sidebar {
    background-color: $light-gray;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    #dashboard-header {
        margin: 15px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        img {
            opacity: 0.8;
            min-height: 32px;
            min-width: 32px;
        }
        h1 {
            letter-spacing: 2px;
        }
    }
    .small {
        height: 24px;
        width: 24px;
    }
    #dashboard-top,
    #dashboard-btm {
        div {
            display: flex;
            align-items: center;
            padding: 0px 20px;
            gap: 10px;
            font-size: 0.8rem;
            margin: 15px auto;
            h2 {
                font-weight: 400;
                transition: all 0.1s;
                &:hover {
                    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                    transform: scale(1.05);
                }
            }
            img,
            h2 {
                cursor: pointer;
            }
        }
    }
    #credit {
        font-size: 0.6rem;
        text-align: center;
        opacity: 0.7;
        position: absolute;
        bottom: 2px;
        right: 4px;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

#main {
    display: grid;
    grid-template-rows: 1fr 4fr;
    #header {
        z-index: 1;
        padding: 10px 50px;
        box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.5);
        display: grid;
        grid-template: 1fr 1fr/ 2fr 1fr;
        #searchbar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            label {
                display: none;
            }
            input {
                appearance: none;
                outline: none;
                border: 1px solid #c3c3c3;
                border-radius: 20px;
                width: 100%;
                padding: 10px 15px;
                font-size: 1rem;
                font-family: inherit;
                &:focus {
                    border: 2px solid black;
                }
            }
        }
        #profile {
            display: flex;
            align-items: center;
            justify-content: space-around;
            #profile-pic {
                height: 70px;
                width: 70px;
                border-radius: 50%;
                cursor: pointer;
            }
            #notification {
                cursor: pointer;
            }
        }
        #greeting-div {
            display: flex;
            align-items: center;
            gap: 15px;
            img {
                height: 90px;
                width: 90px;
                border-radius: 50%;
            }
            #greeting-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        #btn-div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .header-btn {
                appearance: none;
                outline: none;
                background-color: $light-gray;
                border-radius: 20px;
                padding: 10px 30px;
                border: none;
                font-family: inherit;
                color: white;
                font-size: 1rem;
                cursor: pointer;
                transition: all 0.25s;
                &:hover {
                    box-shadow: inset 0 -3.25em 0 0 $blue-sapphire;
                }
                &:focus {
                    box-shadow: inset 0 -3.25em 0 0 $blue-sapphire;
                }
            }
        }
    }
    #content {
        background-color: $off-white;
        padding: 30px 20px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        position: relative;
        #content-left {
            h4 {
                font-weight: 500;
                font-size: 1.3rem;
                letter-spacing: 2px;
                margin-bottom: 10px;
                text-align: center;
            }
            #project-div {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                gap: 30px;
                align-content: center;
                justify-content: center;
                justify-items: center;
                padding-right: 10px;
                .project {
                    max-width: 400px;
                    height: fit-content;
                    min-height: 300px;
                    overflow: auto;
                    background-color: white;
                    border-radius: 20px;
                    padding: 20px;
                    position: relative;
                    box-shadow: 3px 3px 13px -6px rgba(0, 0, 0, 0.79);
                    transition: all 0.15s;
                    h5 {
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                    }
                    p {
                        opacity: 0.7;
                    }
                    .project-icons {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        display: flex;
                        gap: 10px;
                        img {
                            height: 24px;
                            width: 24px;
                            cursor: pointer;
                            transition: 0.15s;
                            &:hover {
                                transform: scale(1.05);
                            }
                        }
                    }
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }
        }
        #content-right {
            display: flex;
            flex-direction: column;
            gap: 70px;
            padding: 0px 10px;
            h4 {
                font-weight: 500;
                font-size: 1.3rem;
                letter-spacing: 2px;
                margin-bottom: 10px;
            }
            #announcements {
                background-color: white;
                border-radius: 20px;
                padding: 20px;
                box-shadow: 3px 3px 13px -6px rgba(0, 0, 0, 0.79);

                .announcement {
                    h6 {
                        font-size: 0.9rem;
                        margin-top: 10px;
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: 0.8rem;
                        padding-bottom: 15px;
                        border-bottom: 1px solid grey;
                        opacity: 0.7;
                    }
                }
            }
            #trending {
                background-color: white;
                border-radius: 20px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                box-shadow: 3px 3px 13px -6px rgba(0, 0, 0, 0.79);
                .trending {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    .avatar {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                    #avatar-one {
                        background-color: #a8d8db;
                    }
                    #avatar-two {
                        background-color: #cdb9df;
                    }
                    #avatar-three {
                        background-color: #dbc66a;
                    }
                    #avatar-four {
                        background-color: #9edd91;
                    }
                    h6 {
                        font-size: 0.9rem;
                        cursor: pointer;
                    }
                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .copyright {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 0.8rem;
            opacity: 0.7;
        }
    }
}
